@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}

<h2>Index</h2>
@Html.ActionLink("Users", "Users")
<br>
@Html.ActionLink("Add new product", "AddProduct")
<br>
@Html.ActionLink("Orders", "Orders")
<br>
@Html.ActionLink("Add New User", "AddNewUser")