@model List<BycicleShop.Models.ProductModels.CategoryModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ShopLayout.cshtml";
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="span3" style="">
            <a href="@Url.Action("Products", new {id = item.Id})" style="border:black 1px">
                <!--<img src="~/Images/Bikes.jpg" alt="s" style="width: 400px; height: 300px"/><br>-->
                <img src="@Url.Action("ShowImage", "Helper", new {id = item.PhotoId})" alt="s" style="width: 180px; height: 130px;"/><br>
                <p style="">@Html.DisplayFor(x => item.Name).ToString()</p>
            </a>
        </div>
    }
</div>
