@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="span6">
        <h2>
            Info
        </h2>
        <p>
            "Майкл Фарадей (англ. Michael Faraday, 22 сентября 1791, Лондон — 25 августа 1867, Лондон) — английский физик-экспериментатор и химик. Член Лондонского королевского общества (1824) и множества других научных организаций, в том числе иностранный почётный член Петербургской академии наук (1830).
Открыл электромагнитную индукцию, лежащую в основе современного промышленного производства электричества и многих его применений. Создал первую модель электродвигателя. Среди других его открытий — первый трансформатор, химическое действие тока, законы электролиза, действие магнитного поля на свет, диамагнетизм. Первым предсказал электромагнитные волны. Фарадей ввёл в научный обиход термины ион, катод, анод, электролит, диэлектрик, диамагнетизм, парамагнетизм и др.
Фарадей — основоположник учения об электромагнитном поле, которое затем математически оформил и развил Максвелл. Основной идейный вклад Фарадея в физику электромагнитных явлений заключался в отказе от ньютонова принципа дальнодействия и во введении понятия физического поля — непрерывной области пространства, сплошь заполненной силовыми линиями и взаимодействующей с веществом.
        </p>
        <p>
            <a href="#" class="btn" style="color: black">Go Hell >></a>
        </p>
    </div>
    <div class="span6">
        <h2>
            Инфа
        </h2>
        <p>
            «Светочи христианства» или «Факелы Нерона» — гигантская по размерам картина польского и русского художника-академиста Генриха Семирадского (1843—1902), завершённая в 1876 году. Она является частью собрания Национального музея в Кракове (Польша). Размер картины — 385 × 704 см.
На картине изображён сад перед Золотым дворцом Нерона в преддверии чудовищной театрализованной оргии. Слева, около дворца и на его ступенях, расположились многочисленные зрители. Всего на картине изображено около ста человек, но ни одна из фигур не является центральной — даже сам Нерон, сидящий в отдалении в паланкине с золотой крышей, поддерживаемом темнокожими рабами. Вместе с Нероном в паланкине сидит его жена Поппея Сабина. А в красочной толпе — сенаторы и полководцы, философы и музыканты, игроки в кости, танцовщицы и гетеры. На их лицах можно увидеть полный диапазон чувств и эмоций — злорадство и протест, любопытство и равнодушие.
        </p>
        <p>
            <a href="#" class="btn" style="color: black">Ok >></a>
        </p>
    </div>
</div>
