@using System.Globalization
@model List<BycicleShop.Models.ProductModels.ProductSimpleModel>

@{
    ViewBag.Title = "MyOrders";
}

<div>
    <table class="table table-bordered table-striped table-hover">
        <tr class="info">
            <td>#
            </td>
            <td>Sent Date
            </td>
            <td>Adress
            </td>
            <td>Obtained
            </td>
        </tr>
        @for (var i = 1; i <= Model.Count; i++)
        {
            <tr>
                <td>@Html.Display(i.ToString(CultureInfo.InvariantCulture))
                </td>
                <td>@Html.Display(Model[i].Name);
                </td>
                <td>@Html.Display(Model[i].Price.ToString(CultureInfo.InvariantCulture))
                </td>
                <td><img src="@Url.Action("Show", "Image", new {id = Model[i].Id})" alt="">
                </td>
            </tr>
        }
    </table>
</div>
