@using System.Globalization
@model List<BycicleShop.Models.OrderModels.OrderSimpleModel>

@{
    ViewBag.Title = "MyOrders";
}

<div>
    <table class="table table-bordered table-striped table-hover">
        <tr class="info">
            <td>#
            </td>
            <td>Sent Date
            </td>
            <td>Adress
            </td>
            <td>Received
            </td>
        </tr>
        @{
            var i = 1;
            foreach (var item in Model)
            {
            <tr>
                <td>
                    <a href="@Url.Action("Order", new {id = item.Id})">@(i++.ToString(CultureInfo.InvariantCulture))</a>
                </td>
                <td>@if (item.SentDate != null)
                    {
                        <p>@item.SentDate.ToString()</p>
                    }
                </td>
                <td>
                    <p>@item.Adress</p>
                </td>
                <td>
                    @if (item.Received)
                    {
                        <p>Received</p> 
                    }
                    else
                    {
                       <p>Not Received</p> 
                    }
                </td>
            </tr>
            }
        }
    </table>
</div>
